html, body {
    height: 100%;
  }

  main {
    background-image: none !important;
    background-color: whitesmoke !important;
  }

  .img-title {
    background-color: rgb(238, 233, 233);
    width: 90%;
  }
  

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-style {
  width: 200px;
  height: 200px;
  object-fit: cover; /* fills container, crops excess */
  width: 90%;
  height: 90%;
}
