{% extends 'base.html' %}

{% block title %}Termine{% endblock %}

{% block content %}
{% block subtitle %}
    <div class="subtitle-div">
        <h5 class="index-h1 text-center text-white bg-dark">
            {% block subtitletext %}Nächste Wichtige Termine{% endblock %}
        </h5>
    </div>
    <div>
        <!-- Loop through the events and display each 'veranstaltung' -->
        {% for event in events %}
            <p>{{ event.veranstaltung }}</p>
            <p>{{ event.ort }}</p>
            <p>{{ event.datum }}</p>
        {% empty %}
            <p>Keine Termine verfügbar.</p>
        {% endfor %}
    </div>
{% endblock %}



{% endblock %}