{% extends 'base.html' %}
{% load static %}




{% block title %}Termine{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static '/css/termine_styles.css' %}">
{% endblock %}

{% block content %}
<div class="termine-bg-cover">
    {% block subtitle %}
    <div class="subtitle-div">
        <h5 class="index-h1 text-center text-white bg-dark">
            {% block subtitletext %}Nächste Wichtige Termine{% endblock %}
        </h5>
    </div>
    {% endblock %}
    

    <!-- Grid and a Loop through the events and display each 'veranstaltung' -->
    <div class="container">
        <div class="row p-5 ">
            {% for event in events %}
            <div class="col-sm-12 col-md-6 mb-4">
                <div class="event-card p-2">
                    <h3>{{ event.veranstaltung }}</h3>
                    <hr>
                    <p><strong>WANN?</strong> {{ event.datum }}</p>
                    <p><strong>WO?</strong> {{ event.ort }}</p>
                    <p><strong>BEGIN ZEIT</strong> {{ event.begin_zeit }} Uhr</p>
                    <p><strong>END ZEIT</strong> {{ event.end_zeit }} Uhr</p>
                    <p><strong>WAS?</strong> <br> {{ event.beschreibung }}</p>
                    {% if "placeholder" in event.featured_image.url %}
                    <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ event.featured_image.url }}" alt="{{ event.veranstaltung }}">
                    {% endif %}
                    <p>{{ event.featured_image }}</p>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p>Keine Termine verfügbar.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}