{% extends 'base.html' %}
{% load static %}




{% block title %}Termine{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/termine_styles.css' %}">
{% endblock %}

{% block content %}
{% block subtitle %}
    <div class="subtitle-div">
        <h5 class="index-h1 text-center text-white bg-dark">
            {% block subtitletext %}Nächste Wichtige Termine{% endblock %}
        </h5>
    </div>
{% endblock %}

<!-- Grid and a Loop through the events and display each 'Veranstaltung' -->
    <div class="termine-container">
        <div class="row p-5 termine-row-style">
            {% for event in events %}
            <div class="col-sm-12 col-md-6 mb-4">
                <div class="event-card p-2">
                    <h3>{{ event.veranstaltung }}</h3>
                    <hr>
                    <p><strong>WANN?</strong> {{ event.datum }}</p>
                    <p><strong>WO?</strong> {{ event.ort }}</p>
                    <p><strong>BEGIN ZEIT</strong> {{ event.begin_zeit }} Uhr</p>
                    <p><strong>END ZEIT</strong> {{ event.end_zeit }} Uhr</p>
                    <div class="beschreibung-div">
                        <p><strong>WAS?</strong> <br> {{ event.beschreibung }}</p>
                    </div>
                    <div class="event-image-wrapper">
                    {% if "placeholder" in event.featured_image.url %}
                    <img class="event-image" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="event-image" src="{{ event.featured_image.url }}" alt="{{ event.veranstaltung }}">
                    {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p>Keine Termine verfügbar.</p>
            </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}