/*set view height*/


html {
    height: 100%;
}

/* cover photo*/
body {
    background: url('/media/cover_photo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 50px);
    color: #555;
    font-family: 'Lato';
}


/*Photo by <a href="https://unsplash.com/@notethanun?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">note thanun</a> on <a href="https://unsplash.com/photos/group-of-people-wearing-white-and-orange-backpacks-walking-on-gray-concrete-pavement-during-daytime-CYlPykF-qAM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      
*/
/*base.html navbar*/

.navbar-logo {
    height: 100px; 
    width: auto; 
}

/*homepage*/
.index-h1 {
    background-color: aqua;
}