{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'galerie/css/galerie.css' %}">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 text-center my-3">
        <h3>Some Stupid Title or Not</h3>
    </div>
    {% for image in images %}
    <div class="col-12 col-md-6 col-lg-4 container-fluid img-container">
        <div class="img-title text-center mb-3">
            <h4>{{ image.title }}</h4>
        </div>
        <img class="img-style" src="{{ image.image.url }}" alt="{{ image.title }}">
        <div class="date-div my-2">
            <div>{{ image.start_date }}</div>
            <div>&nbsp;-&nbsp;</div>
            <div>{{ image.end_date }}</div>
        </div>
        <div>{{ image.place }}</div>
    </div>
    {% endfor %}
</div>


{% endblock %}