{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'erfolge/css/erfolge.css' %}">
{% endblock %}


{% block content %}
    {% for erfolg  in erfolge %}
    <div class="col-12 col-md-6 col-lg-4 container-fluid img-container">
        <div class="date-div my-2">
            <div class="img-title text-center mb-3">
            <h4>{{ erfolg.title }} &nbsp;-&nbsp; {{ erfolg.jahr }}</h4>
        </div>
        <div>{{ erfolg.inhalt }}</div>
        <img class="img-style" src="{{ erfolg.url }}" alt="{{ erfolg.title }}">
        
        
    </div>
    
    {% endfor %}
</div>


{% endblock %}
