
.termine-container {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    background-color: whitesmoke !important;
    background-image: none !important;
    flex: 1;
    min-height: 100vh;
}

.event-card {
    background-color: rgb(204, 198, 198);
}

.beschreibung-div {
    height: 300px;
}

.event-image-wrapper {
  max-height: 200px;
  overflow: hidden;
}

.event-image {
  width: 100%;
  height: auto;
  object-fit: contain; /* ensures full image is shown */
  max-height: 200px;
  display: block;
  margin: 0 auto;
}



