
.termine-container {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    background-image: none !important;
    flex: 1;
    min-height: 100vh;
}

.termine-row-style {
  background-color: whitesmoke !important;
}

.event-card {
    background-color: rgb(238, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
}

.beschreibung-div {
    min-height: 150px;
}

.event-image-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.event-image {
  width: 200px;
  height: 200px;
  object-fit: cover; /* fills container, crops excess */
  display: block;
}



