html, body {
    height: 100%;
  }

main {
    background-image: none !important;
  }

  .container {
    background-color: whitesmoke !important;
    width: 90%;
  }

 

  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-title {
    background-color: rgb(238, 233, 233);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-style {
  width: 250px;
  height: 250px;
  object-fit: cover;
}