{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/support.css' %}">
{% endblock %}

{% block content %}
{% block subtitle %}
    <div class="subtitle-div">
        <h5 class="index-h1 text-center text-white bg-dark">
            {% block subtitletext %}Wir brauchen Ihre Unterstutzung{% endblock %}
        </h5>
    </div>
{% endblock %}
<div class="container mt-4">
    <div class="row">
      <div class="col-md-6 mb-3 test-class">
        <div class="p-3 bg-primary text-white text-center">Div 1</div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="p-3 bg-secondary text-white text-center">Div 2</div>
      </div>
    </div>
  </div>
{% endblock %}
